@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: var(--mui-palette-background-default);
        --foreground: 166 5% 10%;
        --card: 166 50% 97%;
        --card-foreground: 166 5% 15%;
        --popover: 166 100% 97%;
        --popover-foreground: 166 100% 10%;
        --primary: 166 100% 31.2%;
        --primary-foreground: 0 0% 100%;
        --secondary: 166 30% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 128 30% 95%;
        --muted-foreground: 166 5% 40%;
        --accent: 128 30% 90%;
        --accent-foreground: 166 5% 15%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 166 5% 97%;
        --border: 166 30% 82%;
        --input: 166 30% 50%;
        --ring: 166 100% 31.2%;
        --radius: 0.5rem;
    }

    [theme='dark'] {
        --background: var(--mui-palette-background-default);
        --foreground: 166 5% 90%;
        --card: 166 50% 3%;
        --card-foreground: 166 5% 90%;
        --popover: 166 50% 5%;
        --popover-foreground: 166 5% 90%;
        --primary: 166 100% 31.2%;
        --primary-foreground: 0 0% 100%;
        --secondary: 166 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 128 30% 15%;
        --muted-foreground: 166 5% 60%;
        --accent: 128 30% 15%;
        --accent-foreground: 166 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 166 5% 90%;
        --border: 166 30% 18%;
        --input: 166 30% 18%;
        --ring: 166 100% 31.2%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        scroll-behavior: smooth
    }

    body, #__next {
        @apply bg-background text-foreground;
        a {
            text-decoration: none;
        }
    }

}
